.entry {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #0062e6;
}

.entry .card {
    overflow: hidden;
    border: 0 !important;
    border-radius: 20px !important;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.5);
}

.entry .img-left {
    width: 40%;
    background: url('/src/Assets/input.jpg') center;
    background-color: #0062e6;
    background-size: cover;
    background-position: center;
}

.entry .card-body {
    padding: 4rem;
}

.entry .title {
    margin-bottom: 2rem;
    font-family: 'Libre Baskerville', serif;
}

.entry .form-input {
    position: relative;
}

.entry .form-input input {
    width: 100%;
    height: 37px;
    padding-left: 50px;
    margin-bottom: 1.5rem;
    box-sizing: border-box;
    box-shadow: none;
    border: 1px solid #00000020;
    border-radius: 20PX;
    outline: none;
    background: transparent;
}

.entry .form-input span {
    position: absolute;
    top: 5px;
    padding-left: 10px;
    color: #007bff;
}

.entry .form-input input::placeholder {
    color: black;
    padding-left: 0px;
    font-family: 'Montserrat', sans-serif;
}

.entry .form-input input:focus,
.entry .form-input input:valid {
    border: 2px solid #1473d2;
}

.entry .form-input input:focus::placeholder {
    color: #454b69;
}

.entry .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #007bff !important;
    border: 0px;
}

.entry .form-box button[type="submit"] {
    margin-top: 10px;
    width: 50%;
    border: none;
    cursor: pointer;
    border-radius: 40px;
    background-color: #007bff;
    color: #fff;
    font-size: 90%;
    font-weight: bold;
    letter-spacing: .1rem;
    transition: 0.75s;
    padding: 12px;
    outline: none;
}

.entry .form-box button[type="submit"]:hover {
    background-color: #0069d9;
    width: 100%;
    letter-spacing: .5rem;
}